<div class="component-container mt-12">
    @if (listOfWords.length === 0) {
    <div class="flex flex-col w-full items-center">
        <textarea class="!w-[80%] p-4 mat-elevation-z5 border-gray-400 rounded-xl" matInput name="" id="" cols="300"
            rows="10" [formControl]="bulkWordString"></textarea>
        <button class="mt-4" color="primary" mat-flat-button (click)="printForm($event)">process</button>
    </div>

    }

    <mat-chip-listbox class="w-[80%]">
        @for (word of listOfWords; track $index) {
        <mat-chip class="hover:cursor-pointer"
            [ngClass]="word.imported === 'done' ? '!bg-green-400' : (word.imported === 'warn' ? '!bg-yellow-400' : (word.imported === 'discard' ? '!bg-red-400' : ''))"
            (click)="chipOnClickEventHandler(word)">
            <div class="flex items-center">
                @if (word.imported !== 'none') {
                @switch (word.imported) {
                @case ('done') {
                <mat-icon class="scale-75">done</mat-icon>
                }
                @case ('discard') {
                <mat-icon class="scale-75">close</mat-icon>
                }
                @case ('warn') {
                <mat-icon class="scale-75">priority_high</mat-icon>
                }
                }
                }
                {{word.word}}
            </div>
        </mat-chip>
        }

    </mat-chip-listbox>
    @if (displayProcessWordsListBtn) {
    <button (click)="processWordsForBulkIngestion()">Add Words</button>
    }
    @if (displayDashboardNavBtn) {
    <button (click)="goToDashboard()">Go to Dashboard</button>
    }
</div>