<textarea matInput name="" id="" cols="30" rows="10" [formControl]="bulkWordString"></textarea>
<button mat-flat-button (click)="printForm($event)">process</button>
<mat-chip-listbox>
    @for (word of listOfWords; track $index) {
    <mat-chip [ngClass]="word | resolveChipBgColor">
        <div class="flex items-center">
            @if (word.imported !== 'none') {
            @switch (word.imported) {
            @case ('done') {
            <mat-icon class="scale-75">done</mat-icon>
            }
            @case ('discard') {
            <mat-icon class="scale-75">close</mat-icon>
            }
            @case ('warn') {
            <mat-icon class="scale-75">priority_high</mat-icon>
            }
            }
            }
            {{word.word}}
        </div>
    </mat-chip>
    }

</mat-chip-listbox>