<form>
    <mat-form-field>
        <mat-label>Word search</mat-label>
        <input matInput placeholder="enter word" [formControl]="inputValue" aria-label="word-search" type="text"
            [matAutocomplete]="wordSearchAutoComplete">
        <mat-autocomplete #wordSearchAutoComplete="matAutocomplete"
            (optionSelected)="matOptionClickEventHandler($event)">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
    @if (selectedWord()) {
    <app-view-word></app-view-word>
    }
</form>