<app-view-word></app-view-word>
<form class="grid justify-center">
    <div class="font-light mt-2">Now create a sentence using this word, click <span class="font-semibold">Submit</span>
        to have your sentence evaluated.</div>
    <textarea class="min-w-20 mt-2" name="" id="" [formControl]="sentenceForm"></textarea>
    <button mat-flat-button color="primary" class="w-8 mt-2 mb-2 justify-self-end"
        (click)="formSubmit($event)">Submit</button>
</form>

@if (instructorFeedback()) {
<app-feedback-display></app-feedback-display>
}