<div class="flex p-2 rounded-lg" [class]="instructorFeedback() | resolveFbBgColorPipeTs">
    <mat-icon>{{(instructorFeedback())?.correct ? "check" : "error"}}</mat-icon>
    <div class="flex flex-col ml-2 w-full">
        <div>Your sentence: {{userSentence}}</div>

        <div class="mt-2">
            <div>{{(instructorFeedback())?.feedback}}</div>
            @if (( instructorFeedback() )?.example) {
            <div>Here's an example sentence:
                <div>{{( instructorFeedback() )?.example}}</div>
            </div>
            }
        </div>

        @if (!instructorFeedback()?.correct) {
        <div class="mt-2 font-bold w-full">
            Would you like to construct another sentence with the same word?
            <div class="flex w-full justify-end mt-2">
                <button mat-flat-button color="secondary">Cancel</button>
                <button mat-flat-button color="primary" class="ml-2">Confirm</button>
            </div>
        </div>
        }
        @if (instructorFeedback()?.correct && listOfWordsSignal().length > 0) {
        <div class="mt-2 font-bold w-full">
            Would you like to work on the next work in your study queue?
            <div class="flex w-full justify-end mt-2">
                <button mat-flat-button color="secondary">Cancel</button>
                <button mat-flat-button color="primary" class="ml-2">Confirm</button>
            </div>
        </div>
        }


    </div>
</div>